[*.cs]

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = warning

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = true

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = suggestion
